{%extends "base.html"%}
{%block title%}<title>{{app_name}}</title>{%endblock%}
{%block content%}
<!-- Sidebar/menu -->
<div class="w3-sidebar w3-light-grey" style="z-index:3;width:260px" id="mySidebar">
	<div class="w3-container w3-display-container w3-padding-16">
		<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
		<h3>{{app_name}}</h3>
		<hr>
		<form action="" target="_self">
			<!-- <p> Geometry file:</p> -->
			<!-- <p><i> See FORMAT in 'Extra Info'</i></p> -->
			<!-- <input type="file" id="filechooser" required/> -->
			<div id="drop_zone">
				<p>Drop a geometry file here</p>
				<p><i> See FORMAT in 'Extra Info'</i></p>
			</div>
			<output id="list"></output>
			<hr>
			<p> para</p>
			<input class="w3-input w3-border" type="number" value="1" id="para" min="0" max="6" required>
			<hr>
			<p><button class="w3-button w3-block w3-green" type="submit" method="post"> Render</button></p>
		</form>
	</div>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left:260px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:80px"></div>

  <div class="w3-container">
    <div>
		<canvas id="canvas" width="700" height="400">Your browser doesn't support WebGL!</canvas>
    </div>
    <hr>
    
    
    <h4><strong>Extra Info</strong></h4>
    <p>View streamline & other quantities.</p>
    <hr>
	<p>Geometry input file format:</p>
  </div>
  <hr>
  <!-- Contact -->
  <div class="w3-container" id="contact">
    <h4><strong>Contact</strong></h4>
    <i class="fa fa-map-marker" style="width:30px"></i>Hu Fangyuan<br>
	<i class="fa fa-map-marker" style="width:30px"></i>Koshizuka-Shibata-lab, the University of Tokyo<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: hfy8373_at_mps.q.t.u-tokyo.ac.jp<br>
  <footer class="w3-container w3-padding-16" style="margin-top:32px">Powered by <a href="https://github.com/dlut414" target="_blank" class="w3-hover-text-green">dlut414</a></footer>
  <footer class="w3-container w3-padding-16">css template from <a href="https://www.w3schools.com" target="_blank" class="w3-hover-text-green">w3schools</a> & <a href="http://getbootstrap.com/" target="_blank" class="w3-hover-text-green">bootstrap</a></footer>
  </div>
<!-- End page content -->
</div>
{% load static %}
<script type="text/javascript" src="{% static 'js/psampler/renderer.js' %}"></script>
<script type="text/javascript">
	if(window.File && window.FileReader && window.FileList && window.Blob){
		//All the File APIs are supported.
	}
	else{
		alert('The functions are not fully supported in this browser.');
	}
	
	var reader;
	
    function errorHandler(evt) {
		switch(evt.target.error.code) {
		    case evt.target.error.NOT_FOUND_ERR:
				alert('File Not Found!');
				break;
		    case evt.target.error.NOT_READABLE_ERR:
				alert('File is not readable');
				break;
		    case evt.target.error.ABORT_ERR:
				break; // noop
		    default:
				alert('An error occurred reading this file.');
		};
	}
  
	function handleFileSelect(evt){
		evt.stopPropagation();
		evt.preventDefault();
		var output = [];
		var f = evt.dataTransfer.files[0];
		output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
					f.size, ' bytes, last modified: ',
					f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
					'</li>');
		document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
		reader = new FileReader();
		reader.onerror = errorHandler;
		reader.readAsText(f);
		render_2D(reader.result);
	}
	function handleDragOver(evt){
		evt.stopPropagation();
		evt.preventDefault();
		evt.dataTransfer.dropEffect = 'copy';
	}
	var dropZone = document.getElementById('drop_zone');
	dropZone.addEventListener('dragover', handleDragOver, false);
	dropZone.addEventListener('drop', handleFileSelect, false);
</script>
{%endblock%}