{%extends "base.html"%}
{%block title%}<title>{{app_name}}</title>{%endblock%}
{%block content%}
<!-- Sidebar/menu -->
<div>
	<div class="w3-sidebar w3-light-grey" style="z-index:3;width:260px" id="mySidebar">
	<div class="w3-container w3-display-container w3-padding-64">
		<h3>{{app_name}}</h3>
		<hr>
		<div id="drop_zone">
			<p>Drop a geometry file here</p>
			<p><i> See FORMAT in 'Extra Info'</i></p>
		</div>
		<div id="progress_bar"><div class="percent">0%</div></div>
		<output id="list"></output>
		<form action"" target="_self">
			<div class="form-group">
				{% csrf_token %}
				{{ form }}
			</div>
		</form>
		<hr>
		<form action="" target="_self">
			{% csrf_token %}
			<div>
				{{ form_sl.radius.label }}
				{{ form_sl.radius }}
			</div>
			<div>
				{{ form_sl.nlines.label }}
				{{ form_sl.nlines }}
			</div>
			<div>
				{{ form_sl.slen.label }}
				{{ form_sl.slen }}
			</div>
			<div>
				{{ form_sl.rsln.label }}
				{{ form_sl.rsln }}
			</div>
			<br>
			<div class="row">
				<div class="col">
					{{ form_sl.p1x.label }}
					{{ form_sl.p1x }}				
				</div>
				<div class="col">
					{{ form_sl.p2x.label }}
					{{ form_sl.p2x }}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{ form_sl.p1y.label }}
					{{ form_sl.p1y }}				
				</div>
				<div class="col">
					{{ form_sl.p2y.label }}
					{{ form_sl.p2y }}
				</div>
			</div>
			<br>
			<div id="mode" class="row">
				<input class="col" type="radio" name="option" id="point" checked> Point
				<input class="col" type="radio" name="option" id="streamline"> Streamline
			</div>
			</div>
		</form>
		<hr>
	</div>
	</div>

	<div style="margin-left:260px"> 
		<div class="container">
			<div>
				<canvas id="canvas" width="800" height="500" class="w3-border">Your browser doesn't support WebGL!</canvas>
			</div>
			<hr>

			<h4><strong>Extra Info</strong></h4>
			<p>Draw streamline or other quantities for point cloud datasets. Only available for 2D now.</p>
			<hr>
			Input file <i>FORMAT</i> (text file only):<br>
			<strong><i>Type X Y VX VY Scalar0 Scalar1 Scalar2 ...</i></strong>(add as many columns of scalars as you like)<br>
			<strong><i>...</i></strong><br>
			<strong>The type of dummy points should always be 0.</strong><br>
		</div>
		<hr>
		<!-- Contact -->
		<div class="container" id="contact">
			<h4><strong>Contact</strong></h4>
			Hu Fangyuan<br>
			Koshizuka-Shibata-lab, the University of Tokyo<br>
			Email: hfy8373_at_mps.q.t.u-tokyo.ac.jp<br>
			Github: <a href="https://github.com/dlut414" target="_blank" class="w3-hover-text-green">dlut414</a><br>
			<footer class="w3-container w3-padding-16">
			  <p>css template by: <a href="https://www.w3schools.com" target="_blank" class="w3-hover-text-green">w3schools</a> & <a href="http://getbootstrap.com/" target="_blank" class="w3-hover-text-green">bootstrap</a></p>
			</footer>
		</div>
	</div>
	<!-- End page content -->
</div>
{% load static %}
<!-- <script id="vertex-shader" type="x-shader/x-vertex" src="{% static 'js/psampler/vertex-shader.glsl' %}"></script> -->
<!-- <script id="fragment-shader" type="x-shader/x-fragment" src="{% static 'js/psampler/fragment-shader.glsl' %}"></script> -->
<script type="text/javascript" src="{% static 'js/interpolator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/psampler/renderer.js' %}"></script>
<script type="text/javascript">
	if(window.File && window.FileReader && window.FileList && window.Blob){
		//All the File APIs are supported.
	}
	else{
		alert('The functions are not fully supported in this browser.');
	}
	
	var reader;
	var progress = document.querySelector('.percent');
	
    function errorHandler(evt) {
		switch(evt.target.error.code) {
		    case evt.target.error.NOT_FOUND_ERR:
				alert('File Not Found!');
				break;
		    case evt.target.error.NOT_READABLE_ERR:
				alert('File is not readable');
				break;
		    case evt.target.error.ABORT_ERR:
				break; // noop
		    default:
				alert('An error occurred reading this file.');
		};
	}
	
	function updateProgress(evt) {
		// evt is an ProgressEvent.
		if (evt.lengthComputable) {
			var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
			// Increase the progress bar length.
			if (percentLoaded < 100) {
				progress.style.width = percentLoaded + '%';
				progress.textContent = percentLoaded + '%';
			}
		}
	}
  
	function handleFileSelect(evt){
		evt.stopPropagation();
		evt.preventDefault();
		var output = [];
		var f = evt.dataTransfer.files[0];
		output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
					f.size, ' bytes, last modified: ',
					f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
					'</li>');
		document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
		
		// Reset progress indicator on new file selection.
		progress.style.width = '0%';
		progress.textContent = '0%';
		reader = new FileReader();
		reader.onerror = errorHandler;
		reader.onprogress = updateProgress;
		reader.onloadstart = function(e){
			document.getElementById('progress_bar').className = 'loading';
			$('#point').prop('checked');
		};
		reader.onload = function(e){
			// Ensure that the progress bar displays 100% at the end.
			progress.style.width = '100%';
			progress.textContent = '100%';
		};
		reader.onloadend = function(e){
			if(reader.readyState == FileReader.DONE) {
				setupData_2D(reader.result);
				render_2D();
			}
			else{
				alert('Reading file failed!');
			}
		};
		reader.readAsText(f);
	}
	function handleDragOver(evt){
		evt.stopPropagation();
		evt.preventDefault();
		evt.dataTransfer.dropEffect = 'copy';
	}
	var dropZone = document.getElementById('drop_zone');
	dropZone.addEventListener('dragover', handleDragOver, false);
	dropZone.addEventListener('drop', handleFileSelect, false);
</script>
{%endblock%}