{%extends "base.html"%}
{%block title%}<title>{{app_name}}</title>{%endblock%}
{%block content%}

Under construction!
<div class="container">
	<!-- Sidebar/menu -->

	<!-- !PAGE CONTENT! -->
	<div class="container" style="margin-left:260px;"> 
		<div class="container">
			<div>
				<canvas id="canvas" width="800" height="500" class="w3-border">Your browser doesn't support WebGL!</canvas>
			</div>
			<output id="attribPanel" style="z-index:2;display:none;"></output>
			<hr>
			<h4><strong>Extra Info</strong></h4>
			<p>
			</p>
			<hr>
		</div>
		<hr>
		<!-- Contact -->
		<div class="container" id="contact">
			<h4><strong>Contact</strong></h4>
			Hu Fangyuan<br>
			Koshizuka-Shibata-lab, the University of Tokyo<br>
			Email: hfy8373_at_mps.q.t.u-tokyo.ac.jp<br>
			Github: <a href="https://github.com/dlut414" target="_blank" class="w3-hover-text-green">dlut414</a><br>
			<footer class="w3-container w3-padding-16">
			  <p>css template by: <a href="https://www.w3schools.com" target="_blank" class="w3-hover-text-green">w3schools</a> & <a href="http://getbootstrap.com/" target="_blank" class="w3-hover-text-green">bootstrap</a></p>
			</footer>
		</div>
	</div>
	<!-- End page content -->
</div>
{% load static %}
<script src="{% static 'js/pflow.js' %}"></script>
{%endblock%}